<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.techtown.dangguen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dangguen"
        android:usesCleartextTraffic="true">
        <activity android:name=".FoodDetailActivity"></activity>
        <activity android:name=".MyMapActivity" />
        <activity android:name=".ChatMapActivity" />
        <activity android:name=".EatDetailActivity" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyColJ749Y7pkvOXIdOlYSAnW54hx29P8oM" />

        <activity
            android:name=".ResetPasswordActivity"
            android:parentActivityName=".LoginActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MessageActivity" />
        <activity android:name=".LodingActivity"> <!-- 첫 실행 액티비티 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>